* {
    box-sizing: border-box;
}

/*
No .btn-floating, usa:
padding-bottom: 100%;
width: 100%;
height: 0;

Ele sempre vai ficar com a mesma largura e altura..

O padding com % usa a largura do pai como referência. Então, width 100% e padding bottom 100% vai fazer que ambas as medidas sejam iguais a largura do pai..

Não tem 100% de suporte e navegadores mais antigos, mas esse jogo fica legal usar CSS Grids..
https://css-tricks.com/snippets/css/complete-guide-grid/
*/

.btn-floating {
    padding-bottom: 150%;
    width: 150%;
    height: 0;
}

.row {
    margin-bottom: 1.5%;
}

@media only screen and (min-width: 720px) {
    .btn-floating {
        padding-bottom: 125%;
        width: 125%;
        height: 0;
    }
    
    .row {
        margin-bottom: 1.5%;
    }
}    

/*
@media only screen and (min-width: 992px) {
    .btn-floating {
        padding-bottom: 125%;
        width: 125%;
        height: 0;
    }
    
    .row {
        margin-bottom: 1.5%;
    }
}
*/

@media only screen and (min-width: 1200px) {
    .btn-floating {
        padding-bottom: 110%;
        width: 110%;
        height: 0;
    }
    
    .row {
        margin-bottom: 1.5%;
    }
}

@media only screen and (min-width: 1600px) {
    .btn-floating {
        padding-bottom: 80%;
        width: 80%;
        height: 0;
    }
    
    .row {
        margin-bottom: 1.5%;
    }
}

/*
.btn-floating {
    width: 32px;
    height: 32px;
    line-height: 32px;
}

@media only screen and (min-width: 720px) {
    .btn-floating {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    
    .row {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .btn-floating {
        width: 48px;
        height: 48px;
        line-height: 48px;
    }
    
    .row {
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 1200px) {
    .btn-floating {
        width: 56px;
        height: 56px;
        line-height: 56px;
    }
    
    .row {
        margin-bottom: 28px;
    }
}

@media only screen and (min-width: 1600px) {
    .btn-floating {
        width: 64px;
        height: 64px;
        line-height: 64px;
    }
    
    .row {
        margin-bottom: 32px;
    }
}
*/
